depthai
# spectacularAI
numpy
opencv-python
pydantic>=2.5.3
pydantic_core>=2.14.6
typing_extensions>=4.7.1
matplotlib

# Robot comms
robotpy
robotpy-navx
protobuf
# For video streaming
aiohttp
aiortc
