# Utilities
numpy>=1.26.3
scikit-learn>=1.3.0
pydantic>=2.5.3
pydantic_core>=2.14.6
typing_extensions>=4.7.1
multidict>=6.0.4
robotpy>=2024.2.1.1
robotpy-wpimath>=2024.2.1.2

# Camera stuff
depthai>=2.24.0.0
# spectacularAI
opencv-python
robotpy-apriltag>=2024.2.1.2

# Robot comms
robotpy-navx>=2024.1.0
robotpy-wpinet>=2024.2.1.2
robotpy-wpiutil>=2024.2.1.2
protobuf>=4.25.2

# For video streaming
aiohttp
aiortc
matplotlib
psutil
